<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <system.webServer>
    <staticContent>
      <remove fileExtension=".dwg" />
      <mimeMap fileExtension=".dwg" mimeType="application/octet-stream" />
      <remove fileExtension=".dxf" />
      <mimeMap fileExtension=".dxf" mimeType="application/octet-stream" />
      <remove fileExtension=".shx" />
      <mimeMap fileExtension=".shx" mimeType="application/octet-stream" />
    </staticContent>
  </system.webServer>
</configuration>
